<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle de Producto</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>
    
    <main>
        <%- include('./partials/product.ejs')  %>
        <% if(locals.isLogged && userLogged.admin){%>
                <a class='action-button edit' href="/products/edit/<%= product.id %>">Editar producto?</a>
                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">Eliminar?</button>
                </form>
               <% } %>
    </main>
    <br>

        <%- include('./partials/footer.ejs') %>
</body>
</html>