<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<link rel="stylesheet" href="/css/partials.css">
<link rel="stylesheet" href="/css/register.css">
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
<main>
	<br><br>
	<div class="form-container">
		<h2 class="register-title">Formulario de creación de productos</h2>
			<!-- el enctype es fundamental para Multer-->
			<form class="register-form" action="/products" method="POST" enctype="multipart/form-data">				
					<div class="form-div">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Cordero  Piel de Lobo" value= "<%= locals.oldData ? oldData.name : null %>"class="form-input">
					</div>
					<br><% if (locals.errors && errors.name) { %>
						<div class="errorValidacion">
							<p><%= errors.name.msg %></p>
						</div> 
					<% } %>
					<div class="form-div">
						<label for="bodega" class="form-label">Bodega:</label>
						<input type="bodega" id="bodega" name="bodega" placeholder="Ej: Etchart" class="form-input">
					</div>
					<br><% if (locals.errors && errors.bodega) { %>
						<div class="errorValidacion">
							<p><%= errors.bodega.msg %></p>
						</div> 
					<% } %>
					<div class="form-div">
						<label for="varietal" class="form-label">Varietal:</label>
						<input type="text" id="varietal" name="varietal" placeholder="Ej: Tinto" class="form-input">
					</div>
					<br><% if (locals.errors && errors.varietal) { %>
						<div class="errorValidacion">
							<p><%= errors.varietal.msg %></p>
						</div> 
					<% } %>
					<div class="form-div">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="number" id="price" name="price" placeholder="Ej: 1000" value= "<%= locals.oldData ? oldData.price : null %>" class="form-input">
					</div>
					<br><% if (locals.errors && errors.price) { %>
						<div class="errorValidacion">
							<p><%= errors.price.msg %></p>
						</div> 
					<% } %>
					<div class="form-div">
						<label for="discount" class="form-label">Descuento:</label>
						<input 
						type="number" id="discount" 
						name="discount" min="0" max="1" step="0.01" 
						placeholder="Ej: 15" class="form-input"
						value="<%= locals.oldData ? oldData.discount : null  %>" >
					</div>
						<% if (locals.errors && errors.discount) { %>
							<div class="errorValidacion">
								<p><%= errors.discount.msg %></p>
							</div> 
						<% } %>
					
					<div class="form-div">
						<label for="image" class="form-label">Foto:</label>
						<input type="file" id="image" accept=".png, .jpeg, .jpg" name="image" placeholder="Ingrese una foto"  multiple  class="form-input">
					</div>
					<% if (locals.errors && errors.image) { %>
						<div class="errorValidacion">
							<p><%= errors.image.msg %></p>
						</div> 
					<% } %>					
					<div class="form-div">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="Tinto" <%= locals.oldData && oldData.category == "Tinto" ? "selected" : null %>>
								Tinto</option>
							<option value="Blanco" <%= locals.oldData && oldData.category == "Blanco" ? "selected" : null %>>
									Blanco</option>
							<option value="Rosado" <%= locals.oldData && oldData.category == "Rosado" ? "selected" : null %>>
								Rosado</option>
							<option value="Espumante" <%= locals.oldData && oldData.category == "Espumante" ? "selected" : null %>>
								Espumante</option>
						</select>
					</div>
					<% if (locals.errors && errors.category) { %>
						<div class="errorValidacion">
							<p><%= errors.category.msg %></p>
						</div> 
					<% } %>
					<div class="form-div">
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description"  class="form-input"><%= locals.oldData ? oldData.description : null %></textarea>
					</div>
					<div class="form-buttons">
						<button type="submit">Guardar producto</button>
						<button type="reset" class="reset-button">Limpiar</button>
					</div>
			</form>
			<br><br><br>
	</div>
	<br>
	<br>
        <br>
</main>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>